@charset "utf-8";
.app_detail_img{
	display: block;
	border-style:none; width:60px; height:60px; background-repeat:no-repeat;
}
.allapp_detail_img{
	display: block;
	border-style:none; width:73px; height:73px; background-repeat:no-repeat;
}
.app_detail_label1{
	width: 100%; 
	display: block;
}
.app_detail_label2{
	display: block; 
	color: gray; 
	font-size: 12px;
}
.app_detail_label3{
	display: inline-block;
	font-size: 12px;
}
.app_detail_input
{
	border-style: none; width: 36px; height: 18px; 
	background-repeat: no-repeat;display: block;
}
.app_detail_div{
	width: 149px;height: 144px;display: inline-block;
}
.container ul, .container li{list-style:none;margin:0;padding:0;}
.container2 ul, .container2 li{list-style:none;margin:0;padding:0;}
.container, .container img{width:1024px; height:266px;}
.container2, .container2 img{width:686px; height:266px;}
.container img{border:0;vertical-align:top;}
.num{ position:absolute; right:5px; bottom:5px; font:12px/1.5 tahoma, arial; height:18px;}
/*选项卡1*/
#Tab1 {
	width: 330px;
	margin: 0px;
	padding: 0px;
	margin: 0 auto;
}
/*选项卡2*/
#Tab2 {
	width: 631px;
	margin: 0px;
	padding: 0px;
	margin: 0 auto;
}
/*菜单class*/
.Menubox {
	width: 100%;
	height: 45px;
	background-color: #DEDEDE;
	line-height: 45px;
}

.Menubox ul {
	margin: 0px;
	padding: 0px;
}

.Menubox li {
	font-family:黑体;
	font-size:20px;
	float: left;
	display: block;
	cursor: pointer;
	width: 171px;
	text-align: center;
	color: #1C86EE;
	font-weight: bold;
}

.Menubox li.hover {
	font-family:黑体;
	font-size:20px;
	padding: 0px;
	width: 171px;
	border-left: 1px solid #A8C29F;
	border-top: 1px solid #A8C29F;
	border-right: 1px solid #A8C29F;
	background-color: #1C86EE;
	color: #FFFFFF;
	font-weight: bold;
	height: 45px;
}

.container ul,.container li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container2 ul,.container2 li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container,.container img {
	width: 1024px;
	height: 266px;
}

.container2,.container2 img {
	width: 686px;
	height: 266px;
}

.container img {
	border: 0;
	vertical-align: top;
}

.num {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font: 12px/1.5 tahoma, arial;
	height: 18px;
}

.num li {
	float: left;
	color: #d94b01;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 11px;
	cursor: pointer;
	margin-left: 3px;
	border: 1px solid #f47500;
	background-color: #fcf2cf;
}

.num li.on {
	line-height: 18px;
	width: 18px;
	height: 18px;
	font-size: 14px;
	margin-top: -2px;
	background-color: #ff9415;
	font-weight: bold;
	color: #FFF;
}

.Contentbox {
	clear: both;
	height: 433px;
	padding-top: 23px;
}

#con_one_1 ul {
	list-style: none;
	padding: 30px;
}

#con_one_1 ul li {
	border-top: 1px solid #808080;
	padding: 10px;
}

#con_one_1 ul li label {
	display: -moz-inline-box;
	display: inline-block;
	line-height: 20px;
	width: 230px;
	padding-left: 30px;
	color: #808080;
	font-size: 14px;
}

#con_one_1 .more {
	text-align: right;
	padding: 20px;
	color: #104E8B;
	font-size: 18px;
	font-weight: bold;
	background: url(../images/all_free_app_button.jpg) no-repeat;
	background-position: 250px 22px;
}

.allapp_link_text{
	color: #104E8B;
	font-size: 18px;
}

#con_one_1 ul li span {
	display: -moz-inline-box;
	display: inline-block;
	width: 30px;
}

#con_one_2 ul {
	list-style: none;
	padding: 10px 30px;
}

#con_one_2 ul li {
	border-top: 1px solid #808080;
	padding: 10px;
}

#con_one_2 ul li label {
	display: -moz-inline-box;
	display: inline-block;
	line-height: 20px;
	width: 230px;
	padding-left: 30px;
	color: #808080;
	font-size: 14px;
}

#con_one_2 ul li span {
	display: -moz-inline-box;
	display: inline-block;
	width: 30px;
}

.Contentbox2 {
	clear: both;
	padding-top: 8px;
	min-height: 1080px;
}

#clerk_recommend,#clerk_recommend_car {
	border-bottom: 1px solid #D7D7D7;
	margin-left: 38px;
	margin-top: 20px;
	margin-right: 38px;
	width: 610px;
	height: 432px;
}

#clerk_recommend div,#clerk_recommend_car div {
	width: 149px;
	height: 144px;
	display: inline-block;
}

#clerk_recommend div img,#clerk_recommend_car div img {
	display: block;
}

#clerk_recommend div .label1,#clerk_recommend_car div .label1 {
	width: 100%;
	display: block;
}

#clerk_recommend div .label2,#clerk_recommend_car div .label2 {
	display: block;
	color: gray;
	font-size: 12px;
}

#clerk_recommend div .abel3,#clerk_recommend_car div .label3 {
	display: inline-block;
	font-size: 12px;
}

#clerk_recommend div input,#clerk_recommend_car div input {
	border-style: none;
	width: 36px;
	height: 18px;
	background: url(../images/install.jpg) no-repeat;
	display: block;
}

#doc-description-container.doc-description-collapsed {
	overflow: hidden;
}

.doc-description {
	line-height: 1.5em;
	padding: 0.1em;
}

.apps h2,.market h2 a,.market h2 a:visited {
	color: #7B9726;
}

#doc-description-container {
	position: relative;
}

.contact-developer-spacer {
	padding-left: 20px;
}

.doc-overview-screenshots {
	height: 275px;
	margin-right: 140px;
	padding-bottom: 20px;
}

.screenshot-carousel-button-previous {
	height: 32px;
	width: 32px;
}

.doc-screenshot-section {
	height: 230px;
	margin-bottom: 5px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 530px;
}

.doc-screenshot-img {
	height: 139px;
	width: 232px;
	position: relative;
	display: inline-block;
}

.screenshot-carousel-button-next {
	height: 32px;
	right: 150px;
	width: 32px;
}

.twitter-share-container {
	border: medium none;
	overflow: hidden;
	height: 30px;
	width: 110px;
}

.doc-metadata .ratings {
	display: block;
}

.star {
	background-color: transparent;
	padding-left: 3px;
}

.histogram-table {
	margin-top: 0px;
}

.goog-inline-block {
	position: relative;
	display: inline-block;
}

.average-rating-panel {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #F7F7F7;
	border-radius: 7px;
	margin: 0.75em 0 0.25em 2em;
	padding: 0.5em;
	vertical-align: top;
	width: 150px;
}

.average-rating-panel div {
	text-align: center;
	width: 100%;
}

.average-rating {
	margin: 0em 3.5em 2em;
	vertical-align: top;
}

.histogram-msg {
	text-align: right;
	text-transform: lowercase;
	white-space: nowrap;
	width: 80px;
}

.layout-table td {
	vertical-align: top;
}

.top-row {
	padding-bottom: 2px;
}

.bar-cell {
	border-left: 1px solid #666;
	white-space: nowrap;
	width: 225px;
}

.bar5 {
	background-color: #88B131;
}

.bar {
	float: left;
}

.middle-row {
	padding: 2px 0;
}

.bar4 {
	background-color: #A4CC02;
}

.bar3 {
	background-color: #FFCF02;
}

.bar2 {
	background-color: #FF9F02;
}

.bottom-row {
	padding-top: 2px;
}

.bar1 {
	background-color: #FF6F31;
}

.average-rating-title {
	font-weight: bold;
}

.average-rating-panel .average-rating-value {
	font-size: 28px;
	margin: 7px 0;
}

.average-rating-panel .average-rating-stars {
	margin: 0;
}

.ratings {
	cursor: default;
}

.doc-review-summary {
	margin-top: 1em;
	/*height:568px;*/
}
.doc-review-summary_simple{
	margin-top: 1em;
}
.doc-review {
	margin-top: 15px;
}

.review-permalink {
	background: no-repeat
		url(http://www.proxyee.com/baidu.com.php?u=ec9d448bf43fbczovL3BsYXkuZ29vZ2xlLmNvbS9zdGF0aWMvY2xpZW50L2ltYWdlcy80MTgxMDU5ODUxLXNwcml0ZXMucG5n&b=3)
		-18px -165px;
	height: 7px;
	width: 18px;
	margin-left: 6px;
	margin-top: -1px;
}

.review-title {
	display: inline;
	padding-top: 5px;
	padding-bottom: 0;
}

.review-footer {
	width: 100%;
}

.doc-review-label {
	color: #8E8E8E;
	margin-top: 3px;
	float: left;
}

.per-review-controls {
	float: right;
}

.doc-review-ratings-line {
	margin-top: 5px;
	margin-bottom: 4px;
}

.review-text {
	padding-bottom: 0;
}

.more-arrow-link {
	text-decoration: none !important;
}

.more-arrow {
	bottom: -1px;
	color: #4DB8CA;
	font-size: 112%;
	padding-left: 4px;
	position: relative;
}

.carousel-more-link,.carousel-more-link:visited {
	color: #433F3E;
	float: right;
	margin-bottom: 16px;
	margin-top: 16px;
}

.carousel-pagination {
	height: 16px;
	margin-bottom: 16px;
	padding-top: 20px;
	text-align: center;
}

.wide-editorial-image-panel {
	width: 676px;
	height: 160px;
	margin-top: 15px;
}

.wide-editorial-image-panel .panel-image,.wide-editorial-image-panel .panel-image img
	{
	width: 500px;
}

.wide-editorial-image-panel .panel-summary {
	padding-left: 12px;
	width: 135px;
}

.wide-editorial-image-panel .panel-description {
	color: #414242;
}

.wide-editorial-image-panel .panel-see-more {
	padding-top: 12px;
	text-align: right;
}

.login ul { /*background:url(../images/line.png) repeat-x;*/
	padding-top: 10px;
	border-top: 1px solid #fff
}
.detail_left_div{
	margin-left:17px;height: 93px;width: 292px;
}
.detail_left1_div{
	float:left;
}
.detail_left1_div img{
	width :80px;height: 80px;
}
.detail_right_div{
	float:right;width:65%;
}
.detail_right_div img{
	display: inline-block;
}
.detail_right_label1{
	display: block;color:gray;font-size: 12px;
}
.detail_right_label2{
	display: inline-block;font-size: 12px;
}
.detail_hr{
	margin-left: 15px;margin-right: 15px;
	color:#D7D7D7;background-color:#D7D7D7;height:1px;line-height:1px;border:none;
}
.detail_comment_hr{
	color:#D7D7D7;background-color:#D7D7D7;height:1px;line-height:1px;border:none;
}
.detail_label_left1_top{
	margin-left:17px;width:300px;font-size: 15px;
}
.g-doc-1026 {
font-size: 130%;
margin: 0 auto;
min-width: 1025px;
text-align: left;
width: 78.92em;
}
.page-content {
position: relative;
}
.apps .page-banner, .apps .doc-header {
background-color: #88B131;
border-top-color: #7B9726;
}
.page-banner {
background-color: #88B131;
background-position: 40px 12px;
background-repeat: no-repeat;
border-top: 4px solid #7B9726;
margin-bottom: 5px;
padding: 4px;
height: 50px;
}
.page-banner-icon {
background-position: center center;
background-repeat: no-repeat;
height: 35px;
margin-top: 4px;
padding-left: 60px;
width: 35px;
background:url("../images/icona.jpg");
}
.page-banner-text {
color: white;
font-size: 23px;
font-weight: normal;
padding: 10px 0 10px 0;
}
.container-container {
background-color: white;
border-top: 2px solid #4C4C4C;
}
.num-pagination {
clear: both;
}
.num-pagination-content {
min-height: 200px;
position: relative;
}
.snippet-list {
list-style-type: none;
padding: 0 0 1em 0;
}
.page-banner-heading {
width: 100%;
height: 60px;
}
.appItem{
	width:322px;
	height:128px;
	display: inline-block;
}
.app_l1{
	display: block;
	color: #414242;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 8px;
}
.app_l2{
	position: relative;
	font-size: 10px;
	color: gray;
	    margin-bottom: 6px;
	display: block;
}
.app_l3{
	height:58px;
	    margin-bottom: 8px;
	display: block;
	width: 180px;
}

.clew_txt {
	display: inline-block;
	padding: 7px 0 0 15px;
	font-size: 12px;
}

.id input,.pw input,.in_id,.in_mo,.reg_input,.reg_input_pic {
	_behavior: url(hover_htc.htc);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
}

.user_button a,.pay_but {
	_behavior: url(hover_htc.htc);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
#write-review-toggle {
-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#f5f5f5,endColoStr=#e8e8e8);
border: 1px solid 
#D7D7D7;
background-color: 
whiteSmoke;
background-image: none;
background-image: -webkit-gradient(linear,0 0,0 100%,from(
whiteSmoke),to(
#E8E8E8));
background-image: -moz-linear-gradient(top,
whiteSmoke,
#E8E8E8);
cursor: pointer;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#f5f5f5,endColorStr=#e8e8e8);
font-size: 85%;
font-weight: bold;
margin-right: 10px;
padding: 3px 5px;
}
.toggle-button {
background: no-repeat 0 1px;
background-image: url(http://three.rdaili.com/baidu.com.php?u=de77ce3f49218czovL3NzbC5nc3RhdGljLmNvbS9hbmRyb2lkL21hcmtldF9pbWFnZXMvd2ViL3RvZ2dsZV9idXR0b24ucG5n&b=3);
cursor: pointer;
padding-left: 20px;
text-decoration: none;
}
.middle-vertical-align {
vertical-align: middle;
}
.star{
	margin-top: 5px;
}
.star span{
	margin-top:5px;
	display:inline-block;
}
.starBright_left{
	background-image: url("../images/star_left_pressed.png");
	width:6px;
	height:16px;
	display:inline-block; 
}
.starBright_right{
	background-image: url("../images/star_right_pressed.png");
	width:6px;
	height:16px;
	display:inline-block; 
}
.starDark_left{
	background-image: url("../images/star_left_normal.png");
	width:6px;
	height:16px;
	display:inline-block; 
}
.starDark_right{
	background-image: url("../images/star_right_normal.png");
	width:6px;
	height:16px;
	display:inline-block; 
}

.comment_submit{
	width: 50px;
	text-align:center;
	display:inline-block;
	margin-left:445px;
}
.app_detail_icon{
	height: 80px;
	width: 80px;
}
.app_big_icon{
	margin-top: 17px;
	margin-left: 15px;
	height: 140px;
	width: 140px;
}
.download_bn{
	background:url(../images/install.png) left top no-repeat;
	color:white;
 font-weight: bold;
width:95px;
height:42px;	
border:none;
cursor:pointer;
margin-left: 0px;
margin-top:0px;
text-align: center;
}
.download_bn:hover{
	background:url(../images/install_hv.png) left top no-repeat;
}

.doc-banner-container-header .page-banner-heading {
background-color: 
#88B131;
border-top: 4px solid 
#7B9726;
height: 6px;
padding-top: 5px;
}
.doc-banner-container-header {
background:url(../images/dark_background_stripes.gif);
}
.doc-banner-container-header{
	float:left;
	background-color: #3D3D3D;
	width:328px;
	height:266px;
}
.doc-header-content, .page-banner-heading {
background:url(../images/dark_background_stripes.gif);
}