@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

body {
	background-image: url(../images/body_bg.gif);
	font-size: 62.5%;
	font-family: Arial, sans-serif;
	color: black;
}

body,button,input,select,textarea {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	text-align: justify;
	text-justify: inter-ideograph;
	word-break: break-all;
	word-wrap: break-word
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	padding: 0 0 1em 0;
}
h2,h2 a,h2 a:visited {
	color: #7B9726;
	font-size: 21px;
}
a{
	color:#000000;
	font-size: 14px;
	text-decoration: none;
}
a:HOVER{text-decoration: none !important;}
a:visited {
	font-size: 14px;
	text-decoration: none;
}

h4,h5,table {
	font-size: 1em;
}
dt,dd {
	font-size: 12px;
	margin-left: 10px;
}
h3,h3 a,h3 a:visited {
	color: #3D3D3D;
	margin-left: 10px;
	font-size: 15px;
	padding-bottom: 0.3em;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
address,cite,dfn,em,var,i,u {
	font-style: normal
}

code,kbd,pre,samp {
	font-family: courier new, courier, monospace
}

small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,img {
	border: 0
}

button,input,select,textarea {
	font-size: 100%;
	padding: 0;
	margin: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th {
	text-align: left
}

.ovh {
	overflow: hidden
}

.l {
	float: left
}

.r {
	float: right
}

.cur {
	cursor: pointer
}

.c_b {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
	font-size: 0px;
	overflow: hidden;
	visibility: hidden
}

.c_b2 {
	clear: both
}

.dn {
	display: none
}

.dis {
	display: block
}

.b {
	font-weight: bold
}


a:hover {
	color: #c00;
	text-decoration: underline;
}

#wrapper{
	width: 1024px; margin: 0 auto; text-align: left; position: relative;height:auto;
}
#header{
	height: 115px; width: 100%; background-color: #DEDEDE;text-align: center;
}
#header ul{list-style: none;margin: 0 auto;width: 1024px;}
#header ul li{float: left;line-height: 7px;}
#header ul li img{
	margin-left: 50px; margin-top: 8px;height: 62px;width: 154px;
}

.index_input{
	position:relative;
	top:-14px;
height: 28px;
width: 328px;
font-size: 20px;
background-position-x:right;
border:1px solid white;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
}

#nav{
width:100%;
background:#9C9C9C;
}
.index_input_edge{
	margin-top:22px;
	height: 39px; 
	width: 340px;
	margin-left:380px;
	BACKGROUND-IMAGE: url(../images/search_input.png);
}
#index-nav{width:380px !important;font-size: 16px;display:block;height:40px;padding:0 10px;float: left;}
#index-nav li{margin:20px 0;float: left;height: 40px !important;width: 122px;line-height: 40px !important;background: url(../images/bt1.png);}
#index-nav li a,#index-nav li label {color: white;width: 122px;height: 40px;line-height: 40px;font-weight: bold;}
#index-nav li:hover, #index-nav .active {background: url(../images/bt1_s.png) !important;}
#index-nav li:hover a, #index-nav .active label{color:#000!important;}
#nav div ul{width: 100%;height: 28px;}
#nav div ul li{float: right;line-height: 28px;}
#nav div ul li span{
	height: 24px;
	margin: 0 5px;
	text-align:center;
	cursor: pointer;
	color: #ccc;
	font-weight: bold;
}
#nav div ul li span:hover{
	color: #FFFFFF;
}
#nav div ul li .gbts {
background: url(../images/h_bedf916a.png);
_background: url(../images/h_bedf916a.png);
background-position: -27px -22px;
border: 0;
font-size: 0;
padding: 29px 0 0;
width: 1px;
}
#thumb_photo{margin: 2px;width: 28px;height: 24px;cursor: pointer;}
#lolginAfter{ display:none;}
#message{width: 24px;background: url(../images/h_bedf916a.png);background-position: -24px -270px;}
#message:hover{background: url(../images/h_bedf916a.png);background-position: 1px -270px;}
/*
#logout{width: 20px;background: url(../images/h_bedf916a.png);background-position: 0 5px;}
#logout:hover{background: url(../images/h_bedf916a.png);background-position: -5px -18px;}
*/
#profile_tips_content, #message_tips_content{border:none;background:#fff;}
#profile_tips_content span,#profile_tips_content em, #message_tips_content span, #message_tips_content em{border:none;color:#fff;}
#profile{margin:5px;}
#profile img{margin:0 auto;float:left;width: 96px;height: 96px;}
#profile div{margin:0 auto;width: 135px;height: 96px;float:right;}
#profile div span{width: 135px;height:26px;color:#000;font-size:14px;font-weight: bold;display:-moz-inline-box; display:inline-block;}
#profile_email{color:#ccc;font-weight:normal;font-size:12px;}
#profile div span.operater {background:#4D90FE;height:24px;color:#fff;width: 56px;margin:0 5px; padding-left: 1px;padding-top: 2px;font-size:12px;cursor: pointer;}
#profile div span.operater:hover{background:#357AE8;}
.message_tips{margin:10px;margin-bottom:5px;font-size:14px;color:#000}
.message_tips p{width:340px;}
.message_tips .title{font-weight: bold;text-align:center;}
.message_tips label{margin-left:10px;height:26px;text-align: center;display:-moz-inline-box; display:inline-block;color:#A4A4A4;cursor:pointer;}
.message_tips label:hover{color:#585858}
.message_tips a{color:#A4A4A4;cursor:pointer;text-decoration: none;}
.message_tips a:hover{color:#585858}
.allMsg{margin:10px;text-align:left;font-size:12px;}
.allMsg #msgContent {margin:10px;position:absolute;top:170px;overflow:auto;height:205px;}
.allMsg table{width:100%;height:180px;text-align:center;}
.allMsg table tr{height:24px;cursor:pointer;border-bottom:1px solid #ccc;}
.allMsg table tr .unread{font-weight: bold;}
.allMsg table tr th{font-weight: bold;text-align:center;background:#A4A4A4}
.allMsg table tr:hover{background:#A4A4A4}
.allMsg table  #pageTR{border:none;}
.allMsg table  #pageTR:hover{background:none;}
#nav button{
background:url(../images/login_bu.png) left top no-repeat;
width:72px;
height:29px;
color:white;
 font-weight: bold;
border:none;
cursor:pointer;
margin: 1px 10px;
text-align: center;
}
#nav button:hover{
background:url(../images/login_bu_hover.png) left top no-repeat;
}
#nav span{display:-moz-inline-box; display:inline-block;}

#header ul li span{
	text-align:center;font-size:14px;margin-left: 30px;height: 42px;
}

#header ul li span img{width: 34px;height: 24px;margin: 0 auto;padding: auto;margin-top: 2px;}

.num {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font: 12px/1.5 tahoma, arial;
	height: 18px;
}

.num li {
	float: left;
	color: #1C86EE;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 11px;
	cursor: pointer;
	margin-left: 3px;
	/*border: 2px solid #1C86EE;
	background-color: #fcf2cf;*/
	border: 2px solid #FFBF00;
	background-color:#FAFAFA;
}

.num li.on {
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-size: 11px;
	/*background-color: #BFEFFF;*/
	background-color:#F7D358;
	font-weight: bold;
	color: #FFF;
}

.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onSuccess {
	padding-left: 30px;
	font-size: 12px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	overflow: hidden;
	margin-left: 6px
}
.onCorrect{
	background: url(../images/onCorrect.gif) no-repeat;
	color: #33ff00;
}
.onError{
	background: url(../images/onError.gif) no-repeat;
	color: #ff0000;
}
.onFocus{
	background: url(../images/onFocus.gif) no-repeat;
	color: #0000ff;
}
.onLoad{
	background: url(../images/onLoad.gif) no-repeat;
	color: #848484;
}
.onShow{
	background: url(../images/onShow.gif) no-repeat;
	color: #848484;
}
.onSuccess{
	background: url(../images/onSuccess.gif) no-repeat;
	color: #33ff00;
}

.search_bn{
background:url(../images/search_btn.png) left top no-repeat;

width:72px;
height:38px;	
border:none;
cursor:pointer;
margin-left: 2px;
margin-top:22px;
}
.search_bn:hover{
background:url(../images/search_btn_s.png) left top no-repeat;
}

.index_star{
	display: inline-block;
}


.login ul { /*background:url(../images/line.png) repeat-x;*/
	padding-top: 10px;
	border-top: 1px solid #fff
}

.login ul a {
	color: #005cb1
}

.login .id input,.login .pw input,.in_id,.in_mo,.reg_input,.reg_input_pic
	{
	background-color: #FFF;
	border: 1px solid #d5cfc2;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle
}

.login .id input,.login .pw input {
	width: 170px;
	height: 30px;
	margin: 0 5px 5px 0;
	line-height: 30px;
	padding: 0 5px;
}

.login .id input:hover,.login .pw input:hover,.in_id:hover,.in_mo:hover,.reg_input:hover,.reg_input_pic:hover
	{
	border: 1px solid #005cb1;
	background-color: #F2FAFF;
}

.l_button,.r_button {
	background: url(../images/login_button.png);
	background-repeat: no-repeat;
	width: 118px;
	height: 39px;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	text-indent: -9000px
}

.l_button_en,.r_button_en {
	background: url(../images/login_button_en.png);
	background-repeat: no-repeat;
	width: 118px;
	height: 39px;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	text-indent: -9000px
}

.l_button,.l_button_en {
	background-position: 0 -60px;
}

.r_button,.r_button_en {
	background-position: -138px -60px;
	margin-right: 4px
}

.l_button:hover,.l_button_en:hover {
	background-position: 0 0;
}

.r_button:hover,.r_button_en:hover {
	background-position: -138px 0;
}

.f_reg_but {
	margin: 10px 0 0 115px
}

.reg {
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	overflow: hidden;
	padding: 40px 5px;
}

.reg dl {
	padding-left: 10px;
	font-size: 14px;
	margin: 0 auto;
}

.reg dl dt {
	margin-top: 15px
}

.reg dl dd {
	padding: 3px 0;
	margin: 0 auto;
}

.reg .title {
	width: 100px;
	display: inline-block;
	text-align: right;
	padding-right: 10px
}

.reg_input_pic {
	width: 80px;
}

.in_pic_s {
	margin-left: 83px
}

.reg .img {
	position: absolute
}

.reg_m {
	margin-left: 90px
}

/*分页控件*/

#pageDiv{height:30px;white-space:nowrap;text-align: right;margin:5px 0;}
#pageDiv span{display:block;float:left;background:#CDCDCD;margin:3px;cursor:pointer;padding:0 5px}
#pageDiv span:hover{background:#2AC7E1;color:#FFF;}
#pageDiv label span{display:-moz-inline-box; display:inline-block;width:20px;text-align:center;padding:0;}
#pageDiv .selected{color:#FFF;background:#2AC7E1;cursor:default;}
#pageDiv .cruLabel {display:;}
#pageDiv .hideLabel {display:none;}

#footer {
background-color: #3D3D3D;
border-top: 4px solid #88B131;
color: white;
padding-top: 25px;
text-align: center;
zoom: 1;
height: 25px;
}
#footer-tab-edge {
border-top: 30px solid 
#3D3D3D;
border-right: 30px solid 
transparent;
}
#welcome a{
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	/*去掉虚线*/
	hide-focus: expression(this.hideFocus=true); /* for ie 5+ */ 
	outline: none; /* for firefox 1.5 + */ 
}
#welcome a:hover {
	color: #ffffff;
}
.account{
	padding: 10px 5px;height: 450px;
}
.account #info{width: 330px;float: left;}
.account #photoCon{width: 220px;float: right;margin: 30px 10px 20px 10px;}
#photoCon img{border: 1px #D5CFC2;width: 200px;height: 200px;}
div.fileinputs {  
    position: relative;
    margin-top: 5px;
}  
  
div.fakefile {  
    position: absolute;  
    top: 0px;  
    left: 0px;  
    z-index: 1; 
}
div.fakefile button{width: 40px;text-align: center;}
  
input.file {  
    position: relative;  
    text-align: right;  
    -moz-opacity:0 ;  
    filter:alpha(opacity: 0);
	width:220px;
    opacity: 0;  
    z-index: 2;  
}
.operation{position: absolute;width:570px; height: 38px;text-align: center;top:360px;}
.operation button{
background: url(../images/login_bu.png) left top no-repeat;
width: 72px;
height: 29px;
color: white;
font-weight: bold;
border: none;
cursor: pointer;
margin: 1px 10px;
text-align: center;
}
.operation button:hover{
background:url(../images/login_bu_hover.png) left top no-repeat;
}