@charset "utf-8";
*{ margin:0 auto; padding:0px;}
body {
text-align:center; 
width:100%; 
height:auto;
font: 12px 宋体, Arial;
color: #000000;
letter-spacing: 0px;
line-height: 150%;
background:#F8F8F8;
background:-moz-linear-gradient(top,#CDCDCDA,#F8F8F8);/*FF*/
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CDCDCDA), to(#F8F8F8));/*Chrome*/
background-image:-ms-radial-gradient(#CDCDCDA 0%, ##F8F8F8 100%);/*IE10*/
}

ul {
	list-style-type: none; margin:0 auto; padding:0;
	background:#F8F8F8;
	background:-moz-linear-gradient(top,#CACACA,#F8F8F8);/*FF*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CACACA), to(#F8F8F8));/*Chrome*/
	background-image:-ms-radial-gradient(#CACACA 0%, #F8F8F8 100%);/*IE10*/
}
img{ border:none}
button{border:none}
span {display:-moz-inline-box; display:inline-block;}
label {display:-moz-inline-box; display:inline-block;}
a {
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	/*去掉IE下虚线*/
	hide-focus: expression(this.hideFocus=true); /* for ie 5+ */ 
	outline: none; /* for firefox 1.5 + */ 
}
a:hover {
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
}
a:visited {
	font-size: 12px;
	text-decoration: none;
}
a:active{
	text-decoration: none;
	font-size: 12px;
}
a:LINK{
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
}
a:AFTER{
	text-decoration: none;
	font-size: 12px;
}

div{
/*border:1px solid #ff0000;*/
}

#header{
width:100%;
}
#nav{
width:100%;
background:#9C9C9C;
}
#nav div{height:44px; text-align:right;}
#lolginAfter{ display:none;}
#nav button{
float:right;
margin-right:15px;
display:block;
width:78px;
height:44px;
background:url(../images/btn.png);
}
#nav button:hover{
background:url(../images/btn_hv.png);
}
#nav span{display:-moz-inline-box; display:inline-block;}

#searchContainer{
position:relative;
width:100%;
height:82px;
background:url(../images/TITEL.png);
}
#logo{
position:relative;
width:950px;
height:82px;
/*margin-top:5px;*/
padding-top:10px;
margin-left:160px;
background:url(../images/logo.png) no-repeat 0 10px;
}

#logo input{
width:310px;
height:47px;
font-size:24px;
margin-left:280px;
margin-top:7px;
padding:0 5px;
padding-top:8px\9;/*IE8*/
height:39px\9;
background:url(../images/search_input.png);
}
#logo button{
float:right;
margin-top:7px;
margin-right:80px;
width:78px;
height:44px;
background:url(../images/search.png);
}
#logo button:hover{
background:url(../images/search_hv.png);
}
#ad{
margin-top:5px;
width:1024px;
height:316px;
border:1px solid #2A4A5C;
overflow:hidden;
}

#ad ul{
height:266px;
}
#ad #page_nav{
height:50px;
background:url(../images/TITEL_1.png);
}
#page_nav span{
color:#ffffff;
cursor:pointer;
padding-top:15px;
width:20px;
height:20px;
background:url(../images/page_2.png) no-repeat -1px 16px;
}
#page_nav span:hover{
background:url(../images/page_2.png) no-repeat -33px 16px;
}
#page_nav .current{
background:url(../images/page_2.png) no-repeat -33px 16px;
}
.grayStar{
margin:1px;
width:15px;
height:15px;
background:#CDCDCD;
}
.brightStar{
margin:1px;
width:15px;
height:15px;
background:#0099CC;
}
#main{
width:1024px;
padding:5px 0;
height:643px;
}
#footer{
margin-top:3px;
background:url(../images/TITEL.png);
height:82px;
width:100%;
}