.imgLib{ width:535px; margin:0 auto;position: relative;}


.imgShow{ width:535px;zoom:1;/* padding-bottom:20px;*/}

.jump{ width:118px;height:23px;line-height:22px;padding:0 1px 0 2px;margin:-2px 0 0 42px;text-align:center;font-size:14px;color:#787878;background:url(../images/num.gif) no-repeat;}
.jump span{ color:#000;}
.pre,.next{ width:23px;height:21px;display:block;overflow:hidden;}
.pre{ float:left;}
.next{ float:right;}
i.seeRoot{ width:90px;margin:-2px 0 0 50px;float:left;}
.seeRoot a{ width:54px;height:23px;line-height:24px;padding-left:25px;color:#000;background:url(../images/all.gif) no-repeat;display:block;overflow:hidden;}
.seeRoot a:hover{ text-decoration:none;color:#000;}

.singlepic{ width:535px;padding-bottom:9px;clear:both;zoom:1;overflow:hidden;}
.bigPic{ width:530px;float:left;zoom:1;overflow:hidden;}
.bigPic img{ display:block;vertical-align:top;zoom:1;margin:5px auto;*margin:5px auto 1px auto;}
.prePic{ width:49px;padding:152px 0 0 0px;float:left;}
.nextPic{ width:40px;padding:152px 0 0 9px;float:left;}
.prePic a,.nextPic a{ width:39px;height:40px;display:block;}
.prePic a{ background:url(../images/arrow-l.png) no-repeat;}
.nextPic a{ background:url(../images/arrow-r.png) no-repeat;}

.pageJump{ height:20px;text-align:center;zoom:1;clear:both;}
.pageJump i{ color:#0373d2;}

.to_left,.to_right{ width:24px;height:55px;float:left;}
.to_left{ padding:16px 8px 0 15px;}
.to_left a,.to_right a{ width:24px;height:55px;display:block;cursor:pointer;}
.to_left a{ background:url(../images/left.gif) no-repeat;}
.to_right{ padding:16px 0 0 8px;}
.to_right a{ background:url(../images/right.gif) no-repeat;}
.silderpic{ width:526px;height:84px !important;border:1px solid #dae3ea;background:#f2f2f2;float:left;zoom:1;}
.silderpic li{ width:98px;height:81px; margin:0 2px;border:1px solid #f2f2f2;float:left;display:inline;}
.silderpic li a{ width:95px;height:73px;border:1px solid #dae3ec;text-align:center;background:#fff;display:block;}
.silderpic li img{ max-width:95px;max-height:73px;width:expression(this.width>95&&this.width>this.height&&95*this.height/this.width<73?95:true);height:expression(this.height>73?73:true);overflow:hidden;display:block;margin:0 auto;}
.silderpic li.focus{ border:2px solid #fe6700 !important;}
.silderpic li.focus a{ border:1px solid #fff;}